<h1>MadLib#index</h1>
<p>Find me in app/views/mad_lib/index.html.erb</p>

Last month, I went to Disney World with __________ (Friend's name) . We traveled for __________(Number hours) by __________(Vehicle).   
Finally, we got there and it was very __________(Adjective). There were __________(Adjective) 
people __________("ing" verb) everywhere. There were also people dressed up in __________(Animal) costumes.  
 I wish it had been more __________(Adjective), but we __________(Past Tense Verb) anyway. We also went on some __________(Adjective) rides, called "Magic Noun". Friend's name nearly fell off a ride and had to be __________(Past Tense Verb). Later we went to the hotel and __________(Past Tense Verb).  
 Next year, I want to go to __________(Place), where we can ________(Verb). 